
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

::-webkit-scrollbar {
  display: none;
}

html, body {
  @apply bg-white text-text font-outfit antialiased transition-colors duration-300;
}

.dark html, .dark body  {
  @apply bg-slate-950 text-dark-text;
}
.dark a {
  @apply text-dark-primary hover:text-neutral-300;
}

a {
  @apply text-dark-primary hover:text-neutral-700;
}
/* Special Banner or Cards-д ашиглах */
.bg-backBanner {
  @apply bg-gray-100;
}
.dark .bg-backBanner {
  @apply bg-slate-900;
}
.bg-navbar {
  @apply bg-gray-50 backdrop-blur-md transition-colors duration-300;
}
.dark .bg-navbar {
  @apply bg-slate-900  backdrop-blur-md transition-colors duration-300;
}
.text-navbar a {
  @apply text-gray-800 hover:text-gray-600 transition-colors  duration-300;
}
.dark .text-navbar a {
  @apply text-gray-200 hover:text-gray-400 transition-colors duration-300;
}
.border-navbar {
  @apply border-gray-300;
}
.dark .border-navbar {
  @apply border-gray-700;
}
.text-specialText {
  @apply text-violet-950;
}
.dark .text-specialText {
  @apply text-indigo-600;
}
.bg-button {
  @apply bg-violet-600 hover:bg-violet-800 text-white;
}
.dark .bg-button {
  @apply bg-indigo-600 hover:bg-indigo-800 text-white;
}
